[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
configparser = "*"

[packages]
requests = "*"
configparser = "*"
regex = "*"

[requires]
python_version = "3.7"

[scripts]
link-checker = "python link-checker.py"
